/** CSS STYLE **/
@font-face {
  font-family: OpenSans;
  src: url("../Fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../Fonts/Neucha-Regular.ttf");
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-size: 16px;
  --line-height: 1.6em;
  --text-color: #2a2626;
  --lineheight-headline: 1.2em;
  --h1: 72px;
  --h2: 60px;
  --h3: 34px;
}

.header-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
}

h2 {
  margin: 0;
  color: var(--main);
  font-size: var(--h2);
  font-family: Neucha, serif;
  line-height: var(--lineheight-headline);
}

p {
  color: var(--white);
  font-size: var(--font-size);
  font-family: OpenSans, serif;
  line-height: var(--line-height);
}

.w-1110 {
  width: 1110px;
  padding-bottom: 100px;
}

/** Секция-1 **/

.header-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-section::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--brown);
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

.headline {
  position: relative;
  padding-top: 100px;
}

h1 {
  margin: 0;
  color: var(--dark);
  font-weight: 400;
  font-size: var(--h1);
  font-family: Neucha, serif;
  line-height: var(--lineheight-headline);
}

.orange {
  color: var(--main);
}

.main-img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.columns {
  display: flex;
  padding-top: 165px;
  column-gap: 30px;
}

.column-1 {
  flex: 1;
}

.column-2 {
  flex: 1;
}
.button-1 {
  position: relative;
  display: block;
  width: max-content;
  margin-top: 40px;
  padding: 12px 24px;
  color: var(--white);
  font-weight: 700;
  font-size: var(--font-size);
  font-family: OpenSans, serif;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--main);
  border: none;
}

.button-1 a {
  color: var(--white);
  text-decoration: none;
}

.button-1:hover {
  background-color: #ea7600;
}

.p-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: var(--font-size);
  font-family: OpenSans, serif;
  line-height: 26px;
}

/** Секция-2 **/

.video-section {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.video-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1110px;
}

.black {
  color: var(--dark);
}

.text-video {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--dark);
  font-weight: 400;
  font-size: 16px;
  font-family: OpenSans, serif;
  font-style: normal;
  line-height: 160%;
}

.video {
  color: rgb(0, 0, 0 / 15%);
  filter: drop-shadow(0 16px 32px);
}

/** Секция-3 **/

#navigation {
  position: relative;
  z-index: 1;
  margin-top: -100px;
  padding-top: 200px;
  background-color: var(--main-dark);
}

.menu-1,
.menu-2 {
  display: flex;
  justify-content: center;
}

.menu-1 {
  margin-bottom: 20px;
}

.menu-2 {
  padding-bottom: 100px;
}

.numbers {
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--dark);
  font-weight: 400;
  font-size: 64px;
  font-family: Neucha, serif;
  font-style: normal;
  line-height: 1;
}

.card-headlines {
  margin: 0;
  color: var(--main);
  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, serif;
  font-style: normal;
  line-height: 120%;
}

.card-text {
  color: var(--text-color);
  font-weight: 400px;
  font-size: 16px;
  font-family: OpenSans, serif;
  font-style: normal;
  line-height: 26px;
}

.card-0 {
  padding: 0 10px 0 0;
  background-color: var(--main-dark);
}

.introduction {
  margin: 0;
  font-weight: 400;
  font-size: 52px;
  font-family: Neucha, serif;
  font-style: normal;
  line-height: 120%;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  padding: 24px;
  background-color: var(--light);
}

.card-1,
.card-4 {
  margin-right: 30px;
  margin-left: 30px;
}

.w-302 {
  width: 302px;
}

.card-2 > .card-text,
.card-4 > .card-text {
  margin-bottom: 0;
}

.card-1:hover {
  background-color: var(--main);
}

.card-1:hover .numbers {
  color: var(--white);
}

.card-1:hover .card-headlines {
  color: var(--white);
}

.card-1:hover .card-text {
  color: var(--white);
}

.card-2:hover {
  background-color: var(--main);
}

.card-2:hover .numbers {
  color: var(--white);
}

.card-2:hover .card-headlines {
  color: var(--white);
}

.card-2:hover .card-text {
  color: var(--white);
}

.card-3:hover {
  background-color: var(--main);
}

.card-3:hover .numbers {
  color: var(--white);
}

.card-3:hover .card-headlines {
  color: var(--white);
}

.card-3:hover .card-text {
  color: var(--white);
}

.card-4:hover {
  background-color: var(--main);
}

.card-4:hover .numbers {
  color: var(--white);
}

.card-4:hover .card-headlines {
  color: var(--white);
}

.card-4:hover .card-text {
  color: var(--white);
}

.card-5:hover {
  background-color: var(--main);
}

.card-5:hover .numbers {
  color: var(--white);
}

.card-5:hover .card-headlines {
  color: var(--white);
}

.card-5:hover .card-text {
  color: var(--white);
}

.menu-1 > a,
.menu-2 > a {
  display: contents;

  text-decoration: none;
}
