/* Общие стили */

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Neucha;
  src: url(../fonts/Neucha-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #e5e5e5;
}

body {
  box-sizing: border-box;

  color: #2a2626;
  font-weight: normal;
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  font-style: normal;
  line-height: 1.6em;
}

.container {
  position: relative;

  max-width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* ################################################### */

/* Стили для разных блоков,
встречающиеся более одного раза */

h4 {
  font-weight: 400;
  font-size: 52px;
  font-family: Neucha, sans-serif;
  line-height: 62px;
}

h5 {
  font-weight: bold;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  line-height: 17px;
}

.brown-title {
  color: #fe8a02;
}

.white-title {
  color: #f5f4f0;
}

.bg-before::before {
  position: absolute;

  display: block;
  width: 100%;
  height: 100%;

  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.top-paragraph-first {
  color: #908d8b;
  font-weight: normal;
  font-size: 24px;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 29px;
}

.top-paragraph-second {
  color: #2a2626;
  font-weight: normal;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 41px;
}

/* ####################################################### */

/* Разделы проекта */

/* Шапка сайта */

.header {
  min-height: 914px;

  background: #f5f4f0;
}

header h1 {
  position: absolute;
  top: 100px;
}

.main-picture {
  position: absolute;
  top: 55px;
  left: 296px;
}

header img {
  width: 1082px;
  height: 525px;
}

.count-text {
  position: absolute;
  top: 550px;

  width: 1110px;
  margin: 0 auto;

  column-count: 2;
  column-gap: 30px;
}

.count-text p {
  margin-top: 0;
  break-inside: avoid;
}

.button {
  position: absolute;
  top: 765px;
  left: 570px;

  width: 148px;
  height: 49px;

  padding: 12px 24px;

  background: #fe8a02;

  border: none;
}

.button a {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background: #ea7600;
}

/* ####################################################### */

/* Секция с видео */

.video-section {
  height: 798px;

  text-align: center;

  background: #fff;
}

.video-section-title h2 {
  margin-bottom: 30px;
}

.video-section-title p {
  margin-bottom: 30px;
}

.inserting-video {
  margin-top: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* ####################################################### */

/* Секция с навигацией */

main {
  height: 991px;

  background: #42413c;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background: #42413c;
}

.navigation-section-title {
  width: 350px;
  height: 323px;

  margin: 100px 30px 20px 0;

  background: #42413c;
}

.navigation-section-ikea {
  width: 350px;
  height: 323px;
  margin: 100px 30px 20px 0;

  background: #f5f4f0;
}

.link {
  display: block;
  height: 100%;

  text-decoration: none;
}

.card-figure {
  margin-bottom: 40px;

  color: #42413c;

  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.link:hover .card-figure {
  color: #fff;
}

.link:hover .card-title {
  color: #fff;
}

.link:hover span {
  color: #fff;
}

.mailing-form p {
  font-size: 12px;
}

.link:hover p {
  color: #fff;
}

.link:hover {
  width: 100%;
  height: 100%;

  background: #fe8a02;
}

.navigation-section-optimization {
  width: 350px;
  height: 323px;

  margin: 100px 0 20px 0;

  background: #f5f4f0;
}

.navigation-section-distortion {
  width: 350px;
  height: 348px;

  margin-right: 30px;

  background: #f5f4f0;
}

.navigation-section-depreciation {
  width: 350px;
  height: 348px;

  margin-right: 30px;

  background: #f5f4f0;
}

.navigation-section-mistake {
  width: 350px;
  height: 348px;

  background: #f5f4f0;
}

.card-content {
  padding: 24px;

  color: #2a2626;
}

/* ####################################################### */

/* Секция "Эффект ИКЕА" */

#ikea-effect {
  height: 960px;

  background: #f5f4f0;
}

.ikea-wrap {
  padding-top: 533px;

  column-count: 2;
  column-gap: 30px;
}

#ikea-effect img {
  position: absolute;

  width: 578px;
  height: 434px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.paragraph {
  position: absolute;
  top: 100px;
  left: 606px;

  width: 502px;
}

.ikea-effect-title {
  display: flex;

  align-items: center;

  height: 26px;

  margin-bottom: 20px;

  column-span: all;

  background: #b09a81;
}

.ikea-effect-title h5 {
  padding-left: 10px;

  color: #fff;

  text-transform: uppercase;
}

.lower-left {
  height: 125px;
}

.lower-right {
  height: 125px;
  break-inside: avoid;
}

/* ####################################################### */

/* Секция "Преждевременная оптимизация" */

#premature-optimization {
  min-height: 900px;

  background: #b09a81;
}

.premature-paragraph {
  position: absolute;
  top: 100px;

  width: 502px;
  height: 296px;
}

.top-first {
  color: #d7ccc0;

  font-weight: normal;
  font-size: 24px;
  font-family: Neucha, sans-serif;
  font-style: normal;

  line-height: 29px;
}

.premature-paragraph h2 {
  color: #fff;
}

.top-second {
  margin-top: 30px;

  color: #fff;

  font-weight: normal;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  font-style: normal;

  line-height: 120%;
}

#premature-optimization img {
  position: absolute;

  left: 532px;

  width: 578px;
  height: 434px;

  margin-bottom: 100px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.premature-wrap {
  padding-top: 536px;

  column-count: 2;
  column-gap: 30px;
}

.premature-title {
  display: flex;

  align-items: center;

  height: 27px;

  margin-bottom: 20px;

  column-span: all;

  background: #fff;
}

.premature-title h5 {
  padding-left: 10px;

  color: #b09a81;
  text-transform: uppercase;
}

#premature-optimization .lower-left,
#premature-optimization .lower-right {
  color: #fff;
}

/* ####################################################### */

/* Секция "Искажение новизны" */

#distortion-of-novelty {
  height: 880px;

  background: #f5f4f0;
}

.distortion-wrap {
  padding-top: 534px;

  column-count: 2;
  column-gap: 30px;
}

#distortion-of-novelty img {
  position: absolute;

  width: 578px;
  height: 434px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* ####################################################### */

/* Секция "Гиперболическое обесценивание" */

#hyperbolic-depreciation {
  min-height: 935px;

  background: #b09a81;
}

#hyperbolic-depreciation img {
  position: absolute;

  left: 531px;

  width: 578px;
  height: 434px;

  margin-bottom: 100px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.hyperbolic-wrap {
  padding-top: 535px;

  column-count: 2;
  column-gap: 30px;
}

#hyperbolic-depreciation .lower-left,
#hyperbolic-depreciation .lower-right {
  color: #fff;
}

/* ####################################################### */

/* Секция "Ошибка планирования" */

#errors-in-planning {
  height: 919px;

  background: #f5f4f0;
}

.errors-wrap {
  padding-top: 534px;

  column-count: 2;
  column-gap: 30px;
}

#errors-in-planning img {
  position: absolute;

  width: 578px;
  height: 434px;

  margin-bottom: 100px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* ####################################################### */

/* Секция "Подвал" */

footer {
  background: #fff;
}

.mailing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 190px;

  padding-left: 55px;

  color: #fff;

  background: #42413c;
}

.mailing-title {
  width: 50%;
}

.mailing-form {
  width: 50%;
  padding-right: 55px;
}

.label-title {
  font-size: 18px;
}

.mailing-email {
  display: flex;
}

.mailing-input {
  width: 421px;
  height: 50px;
  padding-left: 15px;

  font-size: 13.1px;

  border: none;
}

.button-1 {
  position: relative;

  width: 70px;
  height: 50px;

  background: #fe8a02;

  border: none;
}

.before::before {
  position: absolute;
  top: 13px;
  left: 23px;

  display: block;
  width: 24px;
  height: 24px;

  background: url("../images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;

  content: "";
}

/* .mailing-form p {
  font-size: 12px;
} */

.mailing-rules a {
  color: #fff;
}

.copyright {
  width: 50%;

  margin: 0 auto;

  margin-top: 60px;
}

.copyright-item-1 {
  width: 289px;

  margin: 0 auto;
  margin-bottom: 16px;
}

.copyright-item-2 {
  width: 538px;

  margin: 0 auto;
  margin-bottom: 16px;

  font-size: 14px;
}

.copyright-item-3 {
  width: 259px;

  margin: 0 auto;
}
